@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  max-height: 5000px;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

.step-position, .omf-func__select, .omf-func__menu, .omf-func__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  background-color: #f9f5f5fd;
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(159, 155, 155, 0.53);
          box-shadow: 0px 10px 10px -7px rgba(159, 155, 155, 0.53);
  width: 100%;
  cursor: pointer;
}

.number, .omf-func__num {
  background-color: #9356DC;
  color: whitesmoke;
  border-radius: 25px 25px 25px 25px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
}

.func-icon, .omf-func__icon {
  color: rgba(164, 163, 163, 0.875);
}

.card, .omf-rest__card {
  border-radius: 25px;
  background-color: white;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 16px #00000012;
          box-shadow: 0 0 16px #00000012;
  margin-bottom: 20px;
}

.menu-card, .food-menu__card {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
}

.omf-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Shrikhand', cursive;
  font-size: 45px;
  -webkit-box-shadow: 0px 2px 3px 0PX rgba(203, 202, 202, 0.79);
          box-shadow: 0px 2px 3px 0PX rgba(203, 202, 202, 0.79);
  margin: 0px;
  padding: 10px;
}

.omf-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(228, 221, 221, 0.669);
}

.omf-nav__loc-icon {
  margin-right: 15px;
}

.omf-info {
  padding: 30px;
  background-color: #fdf8f8;
}

.omf-info__info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.omf-info__info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.omf-info__p1 {
  margin-bottom: 0px;
}

.omf-info__p2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-nav {
  font-family: 'Shrikhand', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .menu-nav {
    width: 65%;
    font-size: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-nav__arrow {
  margin-left: 30px;
  margin-right: 70px;
}

.menu-nav__logo {
  margin: 15px 0px 10px 0px;
}

.omf-info__p-btn {
  margin-top: 0px;
  margin-bottom: 0px;
  color: whitesmoke;
}

.omf-info__btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.omf-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  color: #f9f6f6;
  font-weight: 500;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  border: none;
  background: linear-gradient(-20deg, #9356DC, #FF79DA 95%);
  -webkit-box-shadow: 7px 10px 40px -7px rgba(84, 82, 82, 0.53);
          box-shadow: 7px 10px 40px -7px rgba(84, 82, 82, 0.53);
  cursor: pointer;
}

.omf-info__btn:hover {
  background: #965add;
  background: #ff7edb;
  -webkit-box-shadow: 7px 10px 40px -7px rgba(0, 0, 0, 0.53);
          box-shadow: 7px 10px 40px -7px rgba(0, 0, 0, 0.53);
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
}

.food-menu__p-btn {
  margin-top: 0px;
  margin-bottom: 0px;
  color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
}

.food-menu__btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 50px;
}

.food-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
  color: black;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  color: #f9f6f6;
  font-weight: 500;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  border: none;
  background: linear-gradient(-20deg, #9356DC, #FF79DA 95%);
  -webkit-box-shadow: 7px 10px 40px -7px rgba(84, 82, 82, 0.53);
          box-shadow: 7px 10px 40px -7px rgba(84, 82, 82, 0.53);
  cursor: pointer;
}

.food-menu__btn:hover {
  background: #965add;
  background: #ff7edb;
  -webkit-box-shadow: 7px 10px 40px -7px rgba(0, 0, 0, 0.53);
          box-shadow: 7px 10px 40px -7px rgba(0, 0, 0, 0.53);
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
}

.omf-func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.omf-func__p {
  font-size: 30px;
  font-weight: 700;
}

.omf-func__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.omf-func__step :hover {
  background-color: pink;
}

@media screen and (min-width: 992px) {
  .omf-func__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.omf-func__icon:hover {
  color: #9356DC;
}

.omf-func__func-p {
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .omf-func__select {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .omf-func__menu {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .omf-func__restaurant {
    width: 30%;
  }
}

.omf-rest__badge {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
  border-radius: 5px;
}

.omf-rest__badge-p {
  margin: 0px;
}

.food-menu__heart-icon, .omf-rest__heart-icon {
  margin-right: 20px;
  font-size: 30px;
  -webkit-text-stroke: 3px #090808;
  color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.food-menu__heart-icon:hover, .omf-rest__heart-icon:hover {
  background: -webkit-linear-gradient(-20deg, #9356DC, #FF79DA 95%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.omf-rest {
  background-color: #f9f5f5fd;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.omf-rest__p {
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;
}

.omf-rest__card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 992px) {
  .omf-rest__card-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .omf-rest__card-div {
    width: 49%;
  }
}

.omf-rest__restaurant {
  text-decoration: none;
  color: black;
}

.omf-rest__card {
  position: relative;
}

.omf-rest__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 190px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px;
}

.omf-rest__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.omf-rest__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.omf-rest__rest-name {
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 600;
}

.omf-rest__rest-loc {
  text-decoration: none;
  margin-top: 0px;
}

.menu-nav__arrow {
  text-decoration: none;
  color: black;
}

.menu-img__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

@media screen and (min-width: 992px) {
  .menu-img__img {
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  .menu-img__img {
    height: 220px;
  }
}

.food-main {
  background-color: #f9f5f5;
}

.food-menu {
  width: 100%;
  position: relative;
  background-color: #f9f5f5;
  top: -50px;
  border-radius: 40px 40px 0px 0px;
  padding: 20px 20px 20px 20px;
}

.food-menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .food-menu__responsive-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 20px;
  }
}

.food-menu__main-title {
  font-size: 20px;
  margin: 0px;
}

.food-menu__main-title:after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  border: 2px solid #99E2D0;
  margin-top: 4px;
}

.food-menu__main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .food-menu__main-div {
    width: 70%;
  }
}

.food-menu__card-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.food-menu__card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.food-menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(17px);
    transform: translateY(17px);
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(17px);
    transform: translateY(17px);
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.food-menu__card-title {
  margin: 0px;
  margin-bottom: 5px;
}

.food-menu__card-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food-menu__card-description {
  margin: 0px;
}

.food-menu__card-price {
  font-weight: 700;
  margin: 0px;
}

.food-menu__card-check-div {
  background-color: #99E2D0;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 25px 25px 0px;
  display: none;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100);
    transform: translateX(100);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100);
    transform: translateX(100);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.food-menu__card-check {
  color: white;
  font-size: 35px;
  margin: 0px;
}

.omf-footer {
  background-color: #3a3939;
  padding: 25px;
  color: white;
  font-size: 15px;
  grid-gap: 10px;
  width: 100%;
}

.omf-footer__logo {
  font-family: 'Shrikhand', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 25px;
  margin: 0px;
}

.omf-footer__set1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 12px;
}

.omf-footer__set2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 12px;
}

.omf-footer__textp {
  text-decoration: none;
  color: white;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.omf-footer__texta {
  text-decoration: none;
  color: white;
  text-decoration: none;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */