@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.omf-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Shrikhand', cursive;
  font-size: 45px;
  -webkit-box-shadow: 0px 2px 3px 0PX rgba(203, 202, 202, 0.79);
          box-shadow: 0px 2px 3px 0PX rgba(203, 202, 202, 0.79);
  margin: 0px;
  padding: 10px;
}

.omf-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Roboto,sans-serif;
  background-color: rgba(228, 221, 221, 0.669);
}

.omf-nav__loc-icon {
  margin-right: 15px;
}

.omf-info {
  padding: 30px;
}

.omf-info__info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Roboto,sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

.omf-info__info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.omf-info__p1 {
  margin-bottom: 0px;
}

.omf-info__p2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.omf-info__link {
  text-decoration: none;
  color: black;
}

.omf-info__p-btn {
  margin-top: 0px;
  margin-bottom: 0px;
  color: whitesmoke;
}

.omf-info__btn-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.omf-info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Roboto,sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  color: #f9f6f6;
  font-size: large;
  font-weight: 500;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  border: none;
  background: linear-gradient(-20deg, #9356DC, #FF79DA 95%);
  cursor: pointer;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */