

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(17px);
              transform: translateY(17px);
              opacity:0;
    }
    90%{
        opacity:0.5;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
              opacity:1;
    }
  }  

  
@keyframes rotate-center {
    0% {
      
              transform: rotate(-180deg);
    }
    
    100% {
    
              transform: rotate(0deg);
    }
  }