@mixin font {    
    font-family: 'Shrikhand', cursive;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin a{
    text-decoration: none;
    color: black;    
}

@mixin a-footer{
    text-decoration: none;
    color: white;   
}

@mixin text-overflox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

