@mixin font {
    
    font-family: 'Shrikhand', cursive;
}

@mixin fonts-2 {
    
    font-family: Roboto,sans-serif;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin a{
    text-decoration: none;
    color: black;
    
}