.omf-rest {
    &__badge{
        position:absolute;
        right:10px; top:15px; 
        background-color: $color3;
        color: darken($color3, 35%);
        font-weight: 500;
        font-size: 20px;
        padding: 7px 20px 7px 20px;      
        border-radius: 5px;        
    }

    &__badge-p{       
        margin: 0px;
    }
}