.omf-footer{
    background-color: rgb(58, 57, 57);
    padding: 25px;
    color: white;
    font-size: 15px;
    grid-gap:10px;
    
        &__logo{
            font-family: 'Shrikhand', sans-serif;
            font-size: 25px;
            color: white;
            margin-left: 25px;
            margin: 0px;
        }
    
        &__set1{
            display: flex;
            align-items: center;
            grid-gap:12px;
            
           
    
        }
    
        &__set2{
            display: flex;
            align-items: center;
            grid-gap:12px;
                    
            
        }
    
        &__textp{
            @include a-footer;
            text-decoration: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        &__texta{
            @include a-footer;
            text-decoration: none;
            margin: 0px;
        }
    }
    