.omf-nav {
    &__logo {
        @include center;
        @include font;
        font-size: 45px;
        box-shadow: 0px 2px 3px 0PX rgba(203, 202, 202, 0.79);
        margin: 0px;
        padding: 10px;

    }

    &__location {
        @include center;
        background-color: rgba(228, 221, 221, 0.669);

    }

    &__loc-icon {
        margin-right: 15px;
    }
}

.omf-info {
    padding: 30px;
    background-color: rgb(253, 248, 248);
    &__info1 {
        @include center;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0px;
    }

    &__info2 {
        @include center;       
        font-size: 18px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    &__p1 {
        margin-bottom: 0px;
    }

    &__p2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    &__p-btn {
        margin-top: 0px;
        margin-bottom: 0px;
        color: whitesmoke;
    }

    &__btn-a {
        @include center;
    }
    

    &__btn {
        @include center;
        @include a;
        flex-direction: row;
        padding: 5px;
        color: rgb(249, 246, 246);       
        font-weight: 500;
        padding: 15px;
        border-radius: 25px 25px 25px 25px;
        border: none;
        background: linear-gradient(-20deg, $color1, $color2 95%);
        box-shadow: 7px 10px 40px -7px rgba(84, 82, 82, 0.53);
        cursor: pointer;

        &:hover {
            background: lighten($color1, 1%);
            background: lighten($color2, 1%);
            box-shadow: 7px 10px 40px -7px rgba(0, 0, 0, 0.53);
            transition-duration: .35s;
        }
    }

}





.menu-nav{
@include font;
    display:flex; 
    align-items: center;
    font-size:20px;
 
  
    &__arrow{

        margin-left: 30px;
        margin-right: 70px;
    }

    &__logo{

        margin:15px 0px 10px 0px;
    }
   
}