.omf-loader {
    opacity: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    @include center;
    animation: loadingSpinner 5s alternate;
    animation-iteration-count:1;
    flex-direction: column;
    grid-gap:100px;
    
    &__title{
        @include font;
        font-size: 60px;
        color: $color3;
    }

    &__animation {
        width: 64px;
        height: 64px;
        position: relative;
        background-image:
            linear-gradient($color1 16px, transparent 0),
            linear-gradient($color2 16px, transparent 0),
            linear-gradient($color2 16px, transparent 0),
            linear-gradient($color1 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top, left bottom, right top, right bottom;
        animation: rotate 5s linear;
        animation-iteration-count:1;
    }

    @keyframes loadingSpinner {
        0% {
            opacity: 1;
            transform: translateX(0%);
            z-index: 4;
        }
        20% {
            transform: translateX(0%);
        }   
        50% {
            transform: translateX(100%);   
        }   
        100% {
            opacity: 1;
            transform: translateX(100%);
            z-index: 0;
            display: none;
        }
    }

    @keyframes hide-loader {
        0% {
            opacity: 1; 
            z-index: 99;               
        }

        100% {
            opacity: 0; 
            z-index:-99; 
        }
    }

    @keyframes rotate {
        0% {
            width: 64px;
            height: 64px;
            transform: rotate(0deg)                 
        }
        50% {
            width: 30px;
            height: 30px;
            transform: rotate(180deg)
        }
        100% {
            width: 64px;
            height: 64px;
            transform: rotate(360deg);                                      
        }
    }

}