
.menu-nav{
    &__arrow{
        @include a;
    }
}
.menu-img{  
    &__img{
        width: 100%;
        object-fit: cover;
        position: relative;
        @media screen and (min-width: 992px) {
            height: 400px;                    
             }
        @media screen and (max-width: 992px) {
            height: 220px;
            }              
    }       
}
.food-main{
    background-color: $bg-color;
}
.food-menu{
    width: 100%;
    position: relative;
    background-color: $bg-color;   
    top: -50px;
    border-radius: 40px 40px 0px 0px;
    padding: 20px 20px 20px 20px;  
    
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include font;
        font-size: 30px;
        font-weight: 500;
    }

    &__responsive-div{
        @media screen and (min-width: 992px) {
            display:flex;
            grid-gap:20px;                                                   
             }
    }
    &__main-title{
        font-size: 20px;
        margin: 0px;                    
    }
    &__main-title:after {
        content: '';
        display: flex;     
        width: 50px;
        border: 2px solid $color3;
        margin-top: 4px; }   
    
    
    &__main-div{
        display: flex;
        flex-direction: column;
        grid-gap:15px;
        margin-bottom: 20px;
    
       @media screen and (min-width: 992px) {      
        width: 70%;                                                       
         }
    }
    &__card-main-div{
        display: flex;
        flex-direction:row;
    }
    &__card-div{
        display: flex;
        flex-direction:column;
        width: 100%;
        padding: 7px 17px 7px 17px;
    }
    &__card{
        @extend .menu-card;
        overflow: hidden;   
        -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;        
          @keyframes slide-top {
            0% {
              -webkit-transform: translateY(17px);
                      transform: translateY(17px);
                      opacity:0;
            }
            90%{
                opacity:0.5;
            }
            100% {
              -webkit-transform: translateY(0px);
                      transform: translateY(0px);
                      opacity:1;
            }
          }  
        &:hover{
            .food-menu__card-check-div{
                width: 100%;
            }
            
        }                   
    }
    &__card-title{
        margin: 0px;
        text-overflow: "…";             
    }
    &__card-detail{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 0px;
        padding: 0px;
                               
    }
    &__card-description{
        margin: 0px;
        padding: 0px;
        text-overflow: "…";
    }
    &__card-price{
        font-weight: 700;
        
       margin-left: auto;
        padding: 0px;
    }
    &__card-check-div{
        background-color: $color3;
        height: 100%;
        @include center;
        border-radius: 0px 21px 21px 0px;
        width: 0px;
        transition: width 0.5s ease-in-out;
        max-width: 95px;
        
             
    }
    &__card-check{
       
        color: white;
        font-size: 35px;
        margin: 0px;

        -webkit-animation: rotate-center 1s ease-in-out both;
	    animation: rotate-center 1s ease-in-out both;  
            @-webkit-keyframes rotate-center {
                0% {
                  -webkit-transform: rotate(0);
                          transform: rotate(0);
                }
                100% {
                  -webkit-transform: rotate(360deg);
                          transform: rotate(360deg);
                }
              }
              @keyframes rotate-center {
                0% {
                  -webkit-transform: rotate(0);
                          transform: rotate(0);
                }
                100% {
                  -webkit-transform: rotate(360deg);
                          transform: rotate(360deg);
                }
              }        
    }
}

