.omf-func {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:20px ;
    margin-right:20px ;
    &__p{
        font-size: 30px;
        font-weight: 700;
    }

    &__step{
        display: flex;
        flex-direction: column;
        grid-gap:20px;
       :hover{
        background-color: pink;                                          
        }           
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    } 

    &__num{
        @extend .number;
    }

    &__icon{
    @extend .func-icon;
        &:hover{
     color: $color1;
    }
    }

    &__func-p{
        font-weight: 500;
    }

    &__select{
        @extend .step-position;
        @media screen and (min-width: 992px) {
            width: 30%;
           }       
    }

    &__menu{
        @extend .step-position;
        @media screen and (min-width: 992px) {
            width: 30%;                                        
           }       
    }
    
    &__restaurant{
        @extend .step-position; 
        @media screen and (min-width: 992px) {
            width: 30%;                                        
           }       
    }
}